<h2>Welcome to Truc's demo site</h2>
<div>
  <ng-include src="'views/carousel.html'"></ng-include>
</div>
<div class="row marketing">
  <h3>Ionic Framework</h3>
  <p>
    Create mobile apps with the web technologies you love.
    Free and open source, Ionic offers a library of mobile-optimized HTML, CSS and JS components and tools for building highly interactive native and progressive web apps. Built with Sass, optimized for AngularJS.
  </p>

  <h3>Angular</h3>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

</div>
