<form role="form" name="addMovie">
  <div class="form-group  has-feedback">
    <label for="title" class="control-label">Title</label>
    <input name="title" required type="text" ng-model="movie.title" class="form-control" id="title" placeholder="Enter the movie title"/>
    <span ng-show="addMovie.title.$invalid" style="color:red" class="glyphicon glyphicon-asterisk form-control-feedback" aria-hidden="true"></span>
  </div>
  <div class="form-group has-feedback">
    <label for="url" class="control-label">URL</label>
    <input required name="url" type="text" ng-model="movie.url" class="form-control" id="url" placeholder="Enter the YouTube URL"/>
    <span ng-show="addMovie.url.$invalid" style="color:red" class="glyphicon glyphicon-asterisk form-control-feedback" aria-hidden="true"></span>
  </div>
  <input ng-disabled="addMovie.$invalid" type="submit" class="btn btn-primary" ng-click="saveMovie()" value="Save"/>
</form>
