<div>
  <h3>My favorite movies</h3>
</div>
<br/>
<div class="row">
  <div class="col-md-12">
    <a class="btn btn-primary" href="/#/create/movie">
      <span class="glyphicon glyphicon-plus"></span> Create Movie
    </a>
      <div class="input-group pull-right col-md-3 col-xm-2 col-sm-3">
        <span class="input-group-addon glyphicon glyphicon-search" id="sizing-addon1"></span>
        <input ng-model="query" type="text" class="form-control" placeholder="Search movie...">
      </div>
  </div>

</div>

<br/>
<br/>
<table class="table table-striped">
  <thead>
  <th  ng-click="doSort('title')">Title</th>
  <th ng-click="doSort('url')">URL</th>
  <th>Operations</th>
  </thead>
  <tbody>
  <tr class="repeat-animation" ng-repeat="movie in movies | filter: query | orderBy: sortBy:reverse">
    <td><a ng-href="/#/movie/{{ movie._id }}">{{ movie.title }}</a></td>
    <td>{{ movie.url }}</td>
    <td>
      <div class="button-group">
        <a ng-href="/#/movie/{{ movie._id }}/edit" class="btn btn-default">
          <span class="glyphicon glyphicon-edit"></span></a>
        <a ng-href="/#/movie/{{ movie._id }}/delete" class="btn btn-danger">
          <span class="glyphicon glyphicon-remove-circle"></span></a>
      </div>
    </td>
  </tr>
  </tbody>
</table>
